[submodule "python-sdk"]
	path = python-sdk
	url = git@github.com:ananim/python-sdk.git
[submodule "facebook-python-sdk"]
	path = facebook-python-sdk
	url = git@github.com:ananim/python-sdk.git
[submodule "django"]
	path = django
	url = git@github.com:ananim/django.git
[submodule "beautifulsoup"]
	path = beautifulsoup
	url = git@github.com:ananim/beautifulsoup.git
[submodule "boto"]
	path = boto
	url = git@github.com:ananim/boto.git
[submodule "django_compressor"]
	path = django_compressor
	url = https://github.com/ananim/django_compressor.git
[submodule "httplib2"]
	path = httplib2
	url = https://github.com/uggedal/httplib2.git
[submodule "django-appconf"]
	path = django-appconf
	url = https://github.com/jezdez/django-appconf.git
[submodule "django-nose"]
	path = django-nose
	url = git@github.com:ananim/django-nose.git
[submodule "python-nose"]
	path = python-nose
	url = git@github.com:ananim/python-nose.git
[submodule "mongo-python-driver"]
	path = mongo-python-driver
	url = git@github.com:ananim/mongo-python-driver.git
[submodule "mongoengine"]
	path = mongoengine
	url = git@github.com:ananim/mongoengine.git
[submodule "python-coverage"]
	path = python-coverage
	url = git@github.com:ananim/python-coverage.git
